body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:
    radial-gradient(circle, transparent 20%, #2a2a2a 20%, #2a2a2a 80%, transparent 80%, transparent) 0% 0% / 46px 46px,
    radial-gradient(circle, transparent 20%, #2a2a2a 20%, #2a2a2a 80%, transparent 80%, transparent) 23px 23px / 46px 46px,
    linear-gradient(#9a91ff 2px, transparent 2px) 0px -1px / 23px 23px,
    linear-gradient(90deg, #9a91ff 2px, #2a2a2a 2px) -1px 0px / 23px 23px;
  background-color: #2a2a2a;
  background-size: 46px 46px, 46px 46px, 23px 23px, 23px 23px;
  animation: scroll-diagonal 10s linear infinite;
}

@keyframes scroll-diagonal {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 64px 64px;
  }
}

.container {
  background-color: #020213;
  width: 100%;
  max-width: 800px;
  max-height: 80vh;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;


  scrollbar-width: none;

  -ms-overflow-style: none;

}

.container::-webkit-scrollbar {
  display: none;

}

h2,
p {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  width: 100%;
}

.half-width {
  width: 100%;
}

@media (min-width: 768px) {
  .half-width {
    width: calc(50% - 10px);
  }
}

label {
  display: block;
  margin-bottom: 6px;
  color: #ffffff;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  color: #000000;
  box-sizing: border-box;
}

.btn {
  padding: 0.5em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #d056ef;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  width: 250px;
  margin: 10px auto;
  display: block;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-110%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #4500b5;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(80%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

.form-footer {
  margin-top: 15px;
  text-align: center;
}

.form-footer a {
  color: #6A5ACD;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 20px;
}


.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.password-container .toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
}

.password-container .toggle-password:hover {
  color: #ff6700;
}